
<div class="container wrapper">
  <div class="panel-group" id="accordion">
    {{#each this.data}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{this.title}}</h4>
        </div>
        <div class="panel-collapse collapse in">
          <div class="panel-body">
            <h3>description</h3>
            <p class="description">{{this.description}}</p>
            <h3>category</h3>
            <p class="category">{{this.category}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>


